.btnFeedback {
    margin-right: 10px;
    background-color: aquamarine;
    border-radius: 10%;
    border: none;
    width: 70px;
    height: 30px;
    font-weight: bold;
    color: blue;
    margin-bottom: 20px;
}